path.py
six
unittest2
smhasher@https://github.com/phensley/python-smhasher/tarball/d71532c/==0.150.1
orderedattrdict
#orderedattrdict
requests
asciitree
graphviz
jinja2
pip>=19.0
pybash@https://github.com/shouldsee/pybash/tarball/0.0.5
autopep8
pygments>=2.5.2